.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
   -webkit-transition: 0.6s ease-in-out top;
   -moz-transition: 0.6s ease-in-out top;
   -ms-transition: 0.6s ease-in-out top;
   -o-transition: 0.6s ease-in-out top;
   transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
   top: 0;
}

.carousel.vertical .next {
   top: 400px;
}

.carousel.vertical .prev {
   top: -400px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
   top: 0;
}

.carousel.vertical .active.left {
   top: -400px;
}

.carousel.vertical .active.right {
   top: 400px;
}

.carousel.vertical .item {
   left: 0;
}

.img-hor {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
.toollogo {
	padding-top: 20px;
	padding-left: 20px
	
}

.FadeAway{
        position: absolute; top:0px; left:0px; width:100%; height:100%;
      
        background: linear-gradient(right, rgba( 255, 255, 255, 255 ) 0%, rgba( 255, 255, 255, 1 ) 100% );
        background: -moz-linear-gradient(right, rgba( 255, 255, 255, 0) 0%, rgba( 255, 255, 255, 1 ) 100% );
        background: -ms-linear-gradient(right, rgba( 255, 255, 255, 0 ) 0%, rgba( 255, 255, 255, 1 ) 100% );
        background: -o-linear-gradient( right, rgba( 255, 255, 255, 0 ) 0%, rgba( 255, 255, 255, 1 ) 100% );
        background: -webkit-linear-gradient( right, rgba( 255, 255, 255, 0 ) 0%, rgba( 255, 255, 255, 1 ) 100% );
        -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#550000FF, endColorstr=#550000FF);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00ffffff, endColorstr=#ffffffff);
}
.FadeAway h2 {
	color: #1b96fe;
}


.down-arrow {
	width: 100%;	
	position: absolute;	
	bottom: -12px;
 	text-align: center;
	display: none;
			
}
.blue {
	
/*	color: #007BC3 !important;*/
        color: #0279C6 !important;
	
}
.white {
	
	color: white !important;	
	
}
.weight500 {
	font-weight: 500;
}
.text-top {
	vertical-align: text-top;
}
.inner-slide {
	position: relative;
	padding: 0px;
	margin: 0px;
	height: auto;	
	display: inline;
}
.slide-col-left {
	width: 30%;	
	color: white !important;
	z-index: 0;
}
.slide-col-right {
	width: 70%;
	
}
.img-left {	
	
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 0px;
	padding: 0px;
	position: relative
}
.img-vertical {	
	margin-top: 10px;	
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 0px;
	position: relative	
}
.img-bottom {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	position: relative
}

.item img {
	margin: 0px;
	padding: 0px;
}
.item .col-sm-4 {
	margin: 0px !important;
	padding: 0px !important;
	
}
.item .col-sm-6 {
	margin: 0px !important;
	padding: 0px !important;
	
}
.item .col-sm-12 {
	margin: 0px !important;
	padding: 0px !important;
	
}
.bg-dark {
	background: rgba(55, 55, 54, 1);
	
}
.figcaption {
	position: absolute;
	width:100%;
	height: 40px;
	bottom: 0;	
    background: rgba(55, 55, 54, 0.6);
	
	
}
.figcaption a {
	color: white;
/*	font-weight: bold; */
	line-height: 40px;
	
}
.figcaption a:hover {
	color: #0099d8 !important
}


.black-bar a:link {
    text-decoration: none;
}

.black-bar a:visited {
    text-decoration: none;
}

.black-bar a:hover {
    text-decoration: none;
}

.black-bar a:active {
    text-decoration: none;
}

.left-pane {
	width: 100%;
	display: block;
	position: relative;
	padding: 0px 10px 10px 20px;
	
}
.cust-tabs ul li {
	padding: 5px;

}
.copyright,
.copyright .container {
	margin-top: 0px !important;
	padding: 0px !important;
	
}
.copyright .container {
	margin-left: auto;
	padding-right: auto;
	
}
.copyright p {
	line-height: 30px;
	width: 100%;
	margin: 0px;
	padding: 0px
}

#carousel1 {
	color: white;
}
#carousel1 ul {
	list-style: none !important;
	position: relative !important;
	color: white;
	
}
#carousel1 img {
	display: block;
	width: 100%;
}
#carousel1 .carousel-indicators {
	position: static !important;
    bottom: auto;
    left: auto;
    z-index: 15;
    width: auto;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    text-align: left
}

#carousel1 .carousel-indicators li {
	cursor: pointer !important;
    display: block;
    width: auto;
    height: auto;
    margin: 0px;
    text-indent: 0px;
    border: 0px ;
    border-radius: 0px;
}

#carousel1 .carousel-indicators .active {
	margin: 0;
    width: auto;
    height: auto;    
    font-weight: bold;
    background-color: transparent !important 
}


.left-pane  ul li{
	display: block;
	color: #fff;

	margin-top: 15px;	
	text-align: left !important;
	
}
.left-pane  ul li:active{
	display: block;
	color: #fff;
	z-index: 10000;
	margin-top: 15px;	
	text-align: left !important;
	
}
.footer ul li {
	color: #ccc
}
.footer .container {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}
#nav-anchor{
	width: 0px;
	height: 0px;
}

/* navigation */
#subnav {
 	position: relative; 
	text-align: center;	
/*	background: #00b5ef;*/
	background: #0279C6;
	padding: 0px;
	height: 28px;
}

#subnav.stick {
   	width: 100%;	
    	position: fixed;
    	top: 0;
    	z-index: 1000;
    	margin-top:123px;
    	text-align: center;	
  	background: #0279C6;
	color: white;
		
}


#subnav ul {
    list-style-type:none;
  
}

#subnav li {
	display: inline-block;	
	margin-left: 25px;
	margin-right: 25px;
	position:relative;

}

#subnav li a {
    	color: white;
   	font-weight:500;
	text-decoration: none;
	line-height: 28px;	
}
#subnav li a:visited {
    	
	text-decoration: none;
	
}


li.nav-active .down-arrow {
    display:block;
}

nav ul {
		list-style: none;
}

@media (max-width: 767px) {
    .col-xs-12 {
        margin-top:30px;
    }
}
