/********************General format*****************************/
html {
    display: block;
    font-size: 18px;
    line-height: 27px;
}



body {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
    color: #666666;
    margin: 0px;
}
div {
    display: block;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999;
}
header .white-bar {
    background-color: #fff;
    color: #1c2127;
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 10px 20px 0 20px;
}
nav {
    display: block;
}
a {
    transition: all 0.2s ease;
}
a {
    background-color: transparent;
}
img {
    vertical-align: middle;
}

img {
    border: 0;
}

nav ul {
    list-style: none;
    display: inline;
}
ul {
    margin: 0;
}
h1 {
    font-size: 1.5em;
    margin: 0.67em 0
}
.col-left h2 {
    font-family: 'proximaNovaLight', 'Arial';
    font-weight: normal;
    font-size: 55px;
    margin: 0px;
    color: #000000;
}


h2 {
    display: block;
    font-size: 1.84em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
nav ul {
    
    /*list-style-type: disc; */
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
nav li {
    display: list-inline;
    text-align: -webkit-match-parent;
}

.navbar {
    position: relative;
    min-height: 40px;
    margin-bottom: 10px;
    border: 1px solid transparent;
}
.container {
    max-width: 960px;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.collapse {
 /*   display: none; */
}
.txt-box {
    margin-top:20px;
}
header .white-bar .navbar-inverse {
    padding: 0px;
    margin: 0px;
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    color: #1c2127;
    border: none;
    font-size: 14px;
    text-transform: capitalize;
}
.navbar-inverse .navbar-collapse{
    border-color: #101010;
}
header .white-bar .navbar-inverse .navbar-nav li {
    display:inline;
}
header .white-bar .navbar-inverse .navbar-nav li a.muted {
    color: #1c2127;
}
header .white-bar .navbar-inverse .navbar-nav li a {
   /*font-weight: 600;*/
    margin: 0;
    /*color: #fff;*/
    padding-top: 8px;
    padding-bottom: 8px;
}
header .white-bar .navbar-inverse .navbar-right a {
    font-weight: normal !important;
}
header .white-bar .navbar-inverse .navbar-right a:hover {
    color: #ff9016 !important;
}
header .white-bar .navbar-inverse .navbar-nav li a.btn-nav {
    padding-top: 8px;
    padding-bottom: 8px;
    width: auto;
}
nav .btn {
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    -webkit-user-select: none;
    font-size: 14px;
}
nav .btn-warning {
    background-color: #ff9016;
    border: 2px solid #ff9016;
    color: #fff;
}
nav .btn-warning:hover {
    background-color: #fff;
    border: 2px solid #ff9016;
    color: #ff9016;
}
nav .btn, nav .btn:hover, nav .btn:focus {
    text-shadow: none;
}
nav .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}
.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    overflow-y: auto;
}
nav .logo {   
    height: 34px;
    padding: 0;
    margin: auto;
}

.white-bar a:link {
    text-decoration: none;
}
.white-bar a:visited {
    text-decoration: none;
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
header .white-bar .navbar-inverse .navbar-nav li {
    padding: 0;
    margin: 0;
    font-weight: normal;
}
.white-bar a:visited {
    text-decoration: none;
}
.white-bar a:link {
    text-decoration: none;
}
.nav>li {
    position: relative;
    display: block;
}
.navbar-nav>li>a {
    
    line-height: 20px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.navbar-nav {
    margin: 7.5px -15px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.nav:after {
    clear: both;
}

.nav:before, .nav:after {
    content: " ";
    display: table;
}
.foot-wrapper .container {
    background-color: transparent;

    margin:0px !important;
    padding: 0px !important;
    
}
.text-center {
    text-align: center
}
.foot-wrapper {
    padding: 0px !important;
    margin:0px !important;
    

}
.copyright {
    height: 30px;
    padding: auto;
    vertical-align: middle;
}
.copyright .container{
    margin: 0px !important;
    padding: 0px !important;
    height: 100%;
}
.copyright .container .row{
    margin: 0px !important;
    padding: 0px !important;
    height: 100%;
}
.copyright .container .row p{
    margin: 0px !important;
    padding: 0px !important;
    line-height: 30px;
}
/*************************** ID FORMAT ***********************************/
#logo {
    font-size: 24px;
   /* line-height: 40px; */
    margin: 0px;
    color: #1c2127;
}

/************************* MEDIA QUERIES ***********************************/

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
@media (min-width: 992px)
    .container {
        width: 970px;
    }
}
@media (min-width: 768px)
    .container {
        width: 750px;
    }    
    .container>.navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
    .navbar {
        border-radius: 4px;
    }
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-right {
        float: right !important;
        margin-right: -15px;
    }
    .navbar-nav>li {
        float: left;
    }

}
@media (min-width: 1024px)
.col-left h3 {
    font-size: 45px;
    padding-left: 1px;
    padding-right: 1px;
    line-height: 1.2;
}
@media (max-width: 767px) {
    .hidden-xs {
        display: none !important
    }
}