@import './../_variables';
.main-content a {
    color: $link-color;
}


div.content .panel {
   position: relative;
//    height: 100vh;
}
.page-header {
    margin: 0;
    padding: 0;

}
.page-header-content {
    position: relative;
    background-color: inherit;
    padding: 0 0px;
}

@media (min-width: 769px) {
.page-title {
    padding-right: 0;
}
}
.page-title {
    padding: auto 36px auto 0;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.heading-elements {

    float: right;
  
   
}
.heading-elements .heading-btn-group {
    font-size: 0;
    padding-right: 20px;
}

.heading-elements .heading-btn-group a{
    border: none;
}



.panel {
    margin-bottom: 10px;
    /* background-color: #fff; */
    /* border: 1px solid transparent; */
    /* border-radius: 3px; */
    // /* -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); */
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); */

}

.panel-title {
    float: left;
}
.panel-body {
    clear: both;
}
.panel .panel-heading > a {
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
}
.panel .panel-heading > a.router-link-exact-active {
    border-bottom: 3px solid $warning-color;
}
.btn-float.btn-link {
    padding-top: 5px;
    height: 100%;
}

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-link {
    color: $text-color;
}


.btn {
    position: relative;
}

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    border-color: transparent;
}

.btn-link, .btn-link:active, .btn-link.active,  {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-float i {
    display: block;
    margin: 0;
    top: 0;
}



.btn-float > span {
    display: block;   
    overflow: hidden;
    text-overflow: ellipsis;
}


div#issue-list > ul > li.list-group-item,
div#issue > ul > li.list-group-item {
    border: none;
    border-top: dashed 1px $divider-color;
}

div.heading-elements > ul >li {
    display: inline;
}

//WBS 
ul.ui-wbstree li span.wbstree-title,
 {
    padding: 3px 10px 3px 3px;
}
ul.ui-wbstree li span.wbstree-title:hover
{
    cursor: pointer;
    background-color: $item-hover-bg;
}
ul.ui-wbstree li span.wbstree-expander:hover {
    cursor:pointer;
}

ul.icons-list   {
    -webkit-padding-start: 0px;
    margin-bottom: 0px;
}

span.wbstree-active .wbstree-title {
    background-color: $item-focus-bg;
    color: $text-white;
}

span.wbstree-warning .wbstree-title {
    background-color: $warning-bg;
    color: $text-white;
    
}

span.wbstree-danger .wbstree-title {
    background-color: $danger-bg;
    color: $text-white;
    
}

span.wbstree-selected .wbstree-title{
    background-color: $disabled-bg;
    color: $text-white;
}

div.reply-heading a.edit-reply {
    visibility: hidden;
}

div.reply-heading:hover a.edit-reply {
    visibility: visible;
}

.icons-list li, 
.action-list li {
    // display: inline-block
}
.action-list li ul.dropdown-menu li{
    display: block !important
}


td.action{
  overflow: visible;
}

.box {
	height: calc(100vh - 180px);
	overflow-y: auto;
    border-top: none;
    box-sizing: border-box;
}

.bootstrap-duallistbox-container .tree-search {
    width: calc(100% - 120px);
}

div.heading-elements .heading-btn-group a {
    padding-bottom: 0px;
    border-bottom: 3px solid transparent;
}

div.heading-elements .heading-btn-group a.router-link-exact-active,
div.heading-elements .heading-btn-group a.relative-active {

    border-bottom-color:  $warning-bg;
    -moz-border-bottom-colors:$warning-bg 
}

.wbstree-expander {
    cursor: pointer;
}
#hot-preview {
    width: 100%;
    height: 100%;
    // overflow-x: hidden;
}

.page-title > span {
    padding-left: 5px;
    // font-size: 16px;
    // font-weight: 500;
}

ul.pagination {
    margin-top: 10px !important;
    margin-bottom: 0px !important;
}

.pagination li a {
    padding-left: 10px;
    padding-right: 10px;
}
.pagination li:first-child,
.pagination li:last-child {
    display: none;
}

div.quillWrapper .ql-toolbar {
    padding: 2px 8px !important;
}

.search-input {
    padding-right: calc(100% - 176px);
}
