
.inline {
    display: inline-block; 
   
}
#chart {
    
    width: 100%;
    margin: 0px; 
    
}
#info {
    width: 20%;
    margin: 0px;
    vertical-align: top; 
    border-color: #cccccc;
    font: 12px sans-serif;
}
#chart-container {
  
    width: 100%; 
  
    padding: 0px 0px;   
    overflow-y: visible;
   
    
}
#chart-headertop {
    
    height: 30px;
    margin-bottom: 10px;
    padding: 0px 0px;

   
}
.axis path, .axis line {
    fill: none;
    stroke: #888888;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
.brush .extent {
    stroke: gray;
    fill: dodgerblue;
    fill-opacity: .365;
}
path.link {
    fill: none;
    /* stroke: #3182bd; */
    stroke: #888888;
    stroke-width: 1px;
}
.header circle {
    cursor: pointer;
    stroke-width: 3px;
}
.node rect {
    cursor: pointer;
    fill-opacity: 1.0;
    
    stroke-width: 0px;
    z-index: -1;
}
.node rect.cbar{
    fill: transparent;
}
.node rect.cbar:hover {
   fill: #f2f2f2;
   opacity: 0.5;
}

.main text {
    font: 10px sans-serif;
    pointer-events: none;  
}

.axis text {
    font: 10px sans-serif;
    pointer-events: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
#gantt {
    padding: 2em 0 2em 0;
}
.treenode {
    stroke-width: 2px !important;   
    
}
.treenode:hover {
    cursor: pointer
}

.chartheader circle.cprog {
    stroke-width: 2px;

}
.fa{
    padding-left: 5px;
    padding-right: 5px;
    width: 20px;
}
.item_details_toggle:hover {
    cursor: pointer
}
#info a.link {
    padding-left: 25px;
}
.panel {
    height: 20px;
    width: 100%;
}