<div id="formDiv" class="collapse in">
 <form class="form-horizontal"   >
    <div class="form-group form-group-sm" >
      <label class="control-label col-sm-1" for="item">Item:</label>
      <div class="col-sm-4">
			<input type="text" class="form-control"   ng-model="item.name" auto-name> 
      </div>
	  
    </div>
    <div class="form-group form-group-sm">
      <label class="control-label col-sm-1" for="code" >Code:</label>
      <div class="col-sm-4">
			<input type="text" class="form-control"  name="code" ng-model="item.code" >
      </div>
    </div>
    <div class="form-group form-group-sm">        
      <label class="control-label col-sm-1" for="unit">Unit:</label>
      <div class="col-sm-4">
			<select type="text" class="form-control" ng-model="item.unit"  ng-options="x for x in units"> </select>
      </div>
    </div>
	<div class="form-group form-group-sm">        
      <label class="control-label col-sm-1" for="quantity">Quantity:</label>
      <div class="col-sm-4">
			<input type="text" class="form-control" ng-model="item.quantity" >
      </div>
    </div>
	<div class="form-group form-group-sm">
		<div class="col-sm-1" >
			
		</div>
		<div class="col-sm-4">
			<button ng-click="add()">Add</button> 
	   	</div>
	</div>	
  </form>
</div>
<img src="/picts/ArrowCollapse2.png" class="img-responsive center-block" width="20" height="20" data-toggle="collapse" data-target="#formDiv">
<div>
<form> 
	<button ng-click="save()" >Save records</button> <button >Post</button>
</form>
</div>
<div>
<table class="table">
		<thead>
			<th>
				<tr>
					<td>
						No.
					</td>
					<td>
						Item
					</td>
					<td>
						Code
					</td>
					<td>
						Unit
					</td>
					<td>
						Quantity
					</td>					
					<td>
						Ctrl
					</td>
					
				</tr>
				
			</th>
		</thead>
		<tbody>
			<tr ng-repeat="y in items">
					<td>
						{{items.indexOf(y)}}
					</td>
					<td>
						{{y.name}}
					</td>
					<td>
						{{y.code}}
					</td>
					<td>
						{{y.unit}}
					</td>
					<td>
						{{y.quantity}}
					</td>					
					<td>
						
					</td>
					
			</tr>
		</tbody>
		
	</table>
</div>	