<h5> Transaction Dashboard</h5>

<div ng-controller="TransactionController">
<div id="formDiv">
	<form>
		Code: <input type="text" name="code" ng-model="transaction.code"></input><br/>		
		Name: <input type="text" name="name" ng-model="transaction.name"></input><br/>
		Stream: <select type="text" name="stream" ng-model="transaction.stream">
			<option value ="1">1</option>
			<option value ="-1">-1</option>
		</select><br/>
		Restriction: <select type="text" name="restriction" ng-model="transaction.restriction">
			<option value ="0">0</option>
			<option value ="1">1</option>
			<option value ="2">2</option>
			<option value ="3">3</option>
		</select><br/>
		<input type="button" name="Save" value="Save" ng-click="save()"> <input type="button" name="Delete" value="Delete" ng-click="del()">
	</form>	
</div>
<div id="display">
Number of records: {{Tnum}}
<div id="filter">
	Filter: <input ng-model = "filter" placeholder="Search for code or name" ></input>
</div>
<div >
	<table>
		<thead>
			<tr>
				<th> No</th>
				<th> Code</th>
				<th> Name </th>
				<th> Stream </th>
				<th> Restriction </th>
				<th> Ctrl</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in transactions | filter: filter">
				<td> {{transactions.indexOf(x)+1}}</td>
				<td> {{x.code}}</td>
				<td> {{x.name}}</td>
				<td> {{x.stream}}</td>
				<td> {{x.restriction}}</td>
				<td> <a href="" ng-click="edit(transactions.indexOf(x))"><span class="glyphicon glyphicon-edit"></span></a> </td>
			</tr>
		</tbody>
	</table>	
</div>
</div>

</div>