<h5> Transaction Setup Dashboard</h5>

<div ng-controller="TransactionSetupController">
<div id="formDiv">
	<form>
		Transaction: <select type="text" name="transaction" ng-model="transactionSetup.tCode" ng-options="transaction.code as transaction.name for transaction in transactions"></select><br/>
		Node: <select type="text" name="node" ng-model="transactionSetup.node" ng-options="node.code as node.name for node in nodes"></select><br/>
		Restriction: <select type="text" name="nodeAction" ng-model="transactionSetup.restriction" ng-options="nodeRestriction.code as nodeRestriction.description for nodeRestriction in nodeRestrictions"></select><br/>
		Parent Node: <select type="text" name="name" ng-model="transactionSetup.parentNode" ng-options="node.code as node.name for node in nodes"></select><br/>
	
		<input type="button" name="Save" value="Save" ng-click="save()"> <input type="button" name="Delete" value="Delete" ng-click="del()">
		
	</form>	
</div>
<div id="display">
Number of records: {{num}}
<div id="filter">
	Filter: <input ng-model = "filter" placeholder="Search for code or name" ></input>
</div>
<div >
	<table>
		<thead>
			<tr>
				<th> No</th>
				<th> Transaction</th>
				<th> Node</th>				
				<th> Parent Node </th>
				<th> Restriction</th>
				
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in transactionSetups | filter: filter">
				<td> {{transactionSetups.indexOf(x)+1}}</td>
				<td> {{x.tCode}}</td>
				<td> {{x.node}}</td>
				<td> {{x.parentNode}}</td>	
				<td> {{x.restriction}}</td>							
				<td> <a href="" ng-click="edit(transactionSetups.indexOf(x))"><span class="glyphicon glyphicon-edit"></span></a> </td>
			</tr>
		</tbody>
	</table>	
</div>
</div>

</div>